.todo-input {
  border-radius: 10px;
  padding: 4px 10px;
}

.todo-submit {
  border: none;
  padding: 4px 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: rgba(128, 203, 14, 0.518);
}

.todo-list > li {
  list-style: none;
  border-radius: 10px;
  display: flex;
  gap: 5px;
  width: auto;
  max-width: 200px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.028),
    0 6px 20px 0 rgba(0, 0, 0, 0.079);
}

.todo-list > li > span {
  flex: 1;
}

.todo-list > li > button {
  background-color: #fff;
  border: none;
}
